
<div class="container-fluid text-white bg-dark">
    <br>
    <ul class="nav">
        <li class="nav-item m-2">
            <a href="https://www.instagram.com/musbva.a/"><i class="fa fa-instagram fa-2x"></i></a>
        </li>
        <li class="nav-item m-2">
            <a href="https://github.com/AT-1205"><i class="fa fa-github fa-2x"></i></a>
        </li>
        <li class="nav-item m-2">
            <a href="http://alatoo.edu.kg/#gsc.tab=0"><i class="fa fa-university fa-2x"></i></a>
        </li>
    </ul>
    <br>
    <br>
    <h5>This WebPage was created for final Exams by AIU students:</h5>
    <p>Aruuke Talantbekova</p>
    <p>Aidana Zhorobekova</p>

    <button type="button" class="btn btn-info"> Contact Me! </button>
    <br>
    <p>Tel: +996 544657 55442</p>
</div>