<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/menu'); %>
<div class="container pt-3">
    <h1>Academic clubs</h1>
    <ul class="nav text-center">
        <li class="nav-item">
            <div class="container pt3">
                <img src="http://alatoo.edu.kg/image?img=image_8_8574083297563384158.jpg" class="rounded-circle" style="width:220px; height: 200px" alt="#">
                <h5>International Relations</h5>
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#clb1">More</button>
            </div>
        </li>
        <li class="nav-item">
            <div class="container pt3">
                <img src="http://alatoo.edu.kg/image?img=image_9_4975945297630572296.jpg" class="rounded-circle" style="width:220px; height: 200px" alt="#">
                <h5>SKILSPACE</h5>
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#clb2">More</button>
            </div>
        </li>
        <li class="nav-item">
            <div class="container pt3">
                <img src="http://alatoo.edu.kg/image?img=image_10_7789081056381090399.jpg" class="rounded-circle" style="width:220px; height: 200px" alt="#">
                <h5>Enactus</h5>
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#clb3">More</button>
            </div>
        </li>
        <li class="nav-item">
            <div class="container pt3">
                <img src="http://alatoo.edu.kg/image?img=image_11_2215386378696489312.jpg" class="rounded-circle" style="width:220px; height: 200px" alt="#">
                <h5>Social Clubs</h5>
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#clb4">More</button>
            </div>
        </li>
    </ul>
    </div>

<div class="container">
    <div id="clb1" class="collapse mt-2">
        The Club of International Relations is an organization created by the initiatives of
        students of the Faculty of International Relations.  The main goal of this organization
        is the use of theories in practice.
        The objectives of the Club of International Relations are:
        • Develop students as individuals, creating a solid foundation for their successful future.
        • Help students gain additional knowledge on their specialization.
        • Collect and provide students with all the necessary information about events where someone who wants
        to participate will have the opportunity to get acquainted with valuable information.
        • Be a center where every student can meet new people, expanding their connections.
    </div>
    <div id="clb2" class="collapse mt-2">
        SKILSPACE - club which acts to develop leadership, and to help students find their future
        profession, as well as training and familiarization with various companies in the city.
        The club shares one of the most valuable skills that helps beautifully and correctly convey
        its position to a wide range of listeners.  Those who have mastered the secrets of public speaking,
        have a great chance to become an interesting person and achieve stunning success in almost any field,
        be it business, politics and art.
    </div>
    <div id="clb3" class="collapse mt-2">
        Enactus is an international non-profit organization designed to inspire students to improve the world
        through entrepreneurship.  The club provides a platform for teams of outstanding university students
        to create community development projects that put human ingenuity and talent at the center of improving
        their livelihoods.  Guided by teachers and supported business leaders, students adopt an entrepreneurial
        approach that allows people to be part of their own success.
    </div>
    <div id="clb4" class="collapse mt-2">
        АIESEC is a student organization created with the main goal: the development of leadership skills
        among MUA students.  And also organizes internships abroad.
    </div>
    </div>
    <div class="container pt-3">
        <ul class="nav text-center">
            <li class="nav-item">
                <div class="container pt3">
                    <img src="http://alatoo.edu.kg/image?img=image_12_5907837957260341671.jpg" class="rounded-circle" style="width:220px; height: 200px" alt="#">
                    <h5>Financial Club</h5>
                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#clb5">More</button>
                </div>
            </li>
            <li class="nav-item">
                <div class="container pt3">
                    <img src="http://alatoo.edu.kg/image?img=image_13_2204037404156091444.jpg" class="rounded-circle" style="width:220px; height: 200px" alt="#">
                    <h5>CYBER SECURITY</h5>
                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#clb6">More</button>
                </div>
            </li>
            <li class="nav-item">
                <div class="container pt3">
                    <img src="http://alatoo.edu.kg/image?img=image_14_7877744842796752153.jpg" class="rounded-circle" style="width:220px; height: 200px" alt="#">
                    <h5>MEDIA CLUB</h5>
                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#clb7">More</button>
                </div>
            </li>
            <li class="nav-item">
                <div class="container pt3">
                    <img src="http://alatoo.edu.kg/image?img=image_15_5608905042650334812.jpg" class="rounded-circle" style="width:220px; height: 200px" alt="#">
                    <h5>SAB</h5>
                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#clb8">More</button>
                </div>
            </li>
        </ul>
    </div>
<div class="container">
    <div id="clb5" class="collapse mt-2">
        Financial Club is a platform for students where students can find a practice of their knowledge.
        The club also teaches students of financial literacy, high-quality scientific research and the
        preparation of a competitive financial department specialist.
    </div>
    <div id="clb6" class="collapse mt-2">
        CYBER SECURITY-MAT- Exploring the most common cyber attacks and keep abreast of developments
        in the information world.  Participation in conferences to raise awareness of network security
        among students. The main goal is to collaborate with KG-CERT, Green Light and with the Center
        for Information Security.  There are plans to explore the basics of the network, operating
        systems (Kali Linux), the basics of cryptography, reverse engineering and web application security.
    </div>
    <div id="clb7" class="collapse mt-2">
        MEDIA CLUB is a journalism club which unites young journalists, designers, PR-specialists
        and copywriters.  The club conducts for students master classes, trainings, forums and
        acquaintances with well-known journalists, politicians, editors, journalists and media
        professionals who are ready to share their experiences.  Students of the club receive skills
        in developing their own journalistic projects.
    </div>
    <div id="clb8" class="collapse mt-2">
        SAB Help and implementation of projects emanating from students.  The club also holds
        acquaintances with various companies in the world.  Promote the project AKKULA TANK.
    </div>
</div>

    <div class="container m-5">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Building_B_of_IAAU.jpg" style="width:700px" class="mx-auto d-block img-thumbnail">
    </div>

    <%- include('./partials/footer'); %>

</body>
</html>
